body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.dataForm{
	position: relative;
	width:100%;
	height: 100%;
	color: #fff;
}
.jk {
	width: 60%;
	height: 20px;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 10px;
	color: black;
	font-weight: bold;
}
#pekerjaan {
	width: 230px;
	height: 40px;
}
.nama, .usia, #alamat{
	width: 60%;
	height: 20px;
}
.form, .lihat{
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.form {
	margin: 30px;
}
.lihat{
	margin-top: 70px;
	margin-bottom: 40px;
}
.nama, .usia, #pekerjaan, #alamat{
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.hasil{
	color: #000;
	justify-content: center;
	display: flex;
	max-height: 150px;
	width: 200px;
	overflow-y: auto;
	margin: 0 auto;
}
button:hover{
	background: #6d44b8;
}
.dataHasil{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.dataHasil label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .dataHasil{
	transform: translateY(-500px);
}
#chk:checked ~ .dataHasil label{
	transform: scale(1);	
}
#chk:checked ~ .dataForm .form{
	transform: scale(.6);
}
